#navbar {
	background-color: #7cd4ff;
}
#navbar .navbar-nav > li > a {
    color: #fff;
}
#navbar .navbar-nav > li > a:hover,
#navbar .navbar-nav > li > a:focus {
	color: #7cd4ff;
    background-color: #fff;
}
#navbar .navbar-toggle:hover,
#navbar .navbar-toggle:focus {
	color: #7cd4ff;
    background-color: #fff;
}
#navbar .navbar-toggle .icon-bar {
	color: #7cd4ff;
    background-color: #fff;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0px !important;
    height: 40px;
}
.navbar {min-height:40px !important;}