#word {
	font-size: 100px;
	margin-top: 0px;
}

#directions {
	font-size: 10px;
	color: #333333;
}

#compWords {
	font-size: 15px;
	opacity: 0.8;
}

#sidebar {
	background-color: #FFEF74;
	padding-left: 25px;
}

#sidebar hr {
	margin-top: 1em;
	margin-bottom: 0em;
}

#directions_alert {
	padding: 5px 6px 1px 4px;
	margin: 0px;
}

#progress {
	background-color: white;
	padding: 10px;
}

#correct_counter,
#sound-select {
	padding-left: 5px;
}

.row-fluid div,
#counters p {
    display: inline-block;
}

#start_button,
#start_story {
	color:white;
	background-color:#65D6A3;
}
#speak_button {
	color:white;
	background-color:#9964E7;
}
#stop_button,
#pause_story {
	color:white;
	background-color:#E2646B;
}
#skip_button,
#skip {
	color:white;
	background-color:#FFEF74;
}

.bg-info {
	background-color:#7CD4FF;
}