h1 {
	text-align:center;
}

body {
	background-color:white;
}

#a1, #a2 {
	color: #fff;
	background-color: #7cd4ff;
}

#WS {
	background-color: #FFEF74;
}
#story {
	background-color: #9964E7;
}
#game {
	background-color: #65D6A3;
}
#profile {
	background-color: #E2646B;
}

/*For the About line at the bottom*/
#about {
	background-color: #7cd4ff;
	bottom: 0px;
	position: absolute;
}