h1 {
	text-align:center;
}

body {
	background-color:white;
}

#a1, #a2, #continue {
	color: #fff;
	background-color: #7cd4ff;
}

#WS {
	color: #998f45;
	background-color: #FFEF74;
}
#story {
	color: #5b3c8a;
	background-color: #9964E7;
}
#game {
	color: #3c8061;
	background-color: #65D6A3;
}
#profile {
	color: #873c40;
	background-color: #E2646B;
}

/*For the About line at the bottom*/
#about {
	padding-top: 20%;
}
#about_button {
	cursor: pointer;
	background-color: #7cd4ff;
	-webkit-transition: background 0.4s ease;
}

#about_button:hover {
	box-shadow: none;
	background-color: #65D6A3; /*#FFEF74 #E2646B #9964E7*/
}

/* For the is.html template */
#isDiv {
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-opacity: 0.5;
	
}
#to_welcome:hover {
	box-shadow: none;
}