
h1 {
	text-align:center;
}

body {
	background-color:white;
}

#a1, #a2 {
	color: #fff;
	background-color: #7cd4ff;
}

#WS {
	color: #998f45;
	background-color: #FFEF74;
}
#story {
	color: #5b3c8a;
	background-color: #9964E7;
}
#game {
	color: #3c8061;
	background-color: #65D6A3;
}
#profile {
	color: #873c40;
	background-color: #E2646B;
}
