.centered {
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

#sidebar_game {
	background-color: #65D6A3;
	padding-left: 25px;
}

#sidebar_game hr {
	margin-top: 1em;
	margin-bottom: 0em;
}

#correct_counter {
	font-size: 20px;
}

#say_word {
	padding-left:50px;
}
#say {
	padding-left:30px;
	font-size:60px;
}
#game_controls {
	padding-left:55px;
}
