h1 {
	font-size: 2.5em;
}

#sidebar_game {
	background-color: #65D6A3;
	padding-left: 25px;
}

#game_counter {
	font-size: 20px;
}

#say {
	font-size:60px;
}
#game_controls,
#say {
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
}

#gamedirs {
	padding-top: 0px;
	margin-top: 0px;
}

#gamearea {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

