#senth1 {
	font-size: 65px;
}

#prevSent {
	font-size: 30px;
	opacity: 0.6;
}

#mic {
	color: #FF7373;
	font-weight: bold;
}

#dirc {
	font-size: 18px;
}

#sidebar_story {
	background-color: #9964E7;
	padding-left: 25px;
	padding-bottom:20px;
}
#sidebar_story hr {
	margin-top: 1em;
	margin-bottom: 0em;
}